<div class="profile-card borderd">
  <div id="thumbnail" class="thumbnail"></div>
  <div class="profile-infos">
    <div class="profile-pic">
      <img src="{{ user.picture.large }}" alt="" />
    </div>
    <div class="buttons">
      <button
        type="button"
        class="follow hight-text"
        [ngClass]="{ 'disabled': user.name.first === 'Henrique', 'following': user.following }"
        (click)="!user.following ? onFollow(user) : onUnfollow(user)"
      >
        {{ !user.following ? 'Follow' : 'Unfollow' }}
      </button>
      <button type="button" class="search medium-text" (click)="searchUser()">
        Try next one
      </button>
    </div>
    <h4 class="name semiBold-text hight-text">
      {{ user.name.first + ' ' + user.name.last }}
    </h4>
    <p class="location regular-text medium-text">
      {{ user.location.country }}, {{ user.location.city }}
    </p>
  </div>
</div>
