@import '../../../../shared/style/variables';

.profile-card {
  width: 100%;
  max-height: 500px;

  .thumbnail {
    width: 100%;
    height: 200px;
    max-height: 50%;
    z-index: -1;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
  }

  .profile-infos {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    top: -100px;

    .profile-pic {
      width: 250px;
      height: 250px;

      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    .buttons {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-areas: 'empty follow search';
      justify-items: center;

      button {
        max-width: 150px;
        border-radius: 5px;
        margin-block: 20px;
      }

      button:hover {
        cursor: pointer;
        transition: 0.5s;
      }

      .follow {
        grid-area: follow;
        color: $white;
        border: none;
        outline: none;
        background-color: $blue;
        padding: 10px 20px;
      }

      .follow:hover {
        background-color: #3385ce;
      }

      .follow.disabled {
        background-color: $gray;
        pointer-events: none;
      }

      .follow.following {
        background-color: $red;
      }

      .search {
        grid-area: search;
        color: $black;
        background-color: $light-gray;
        border: 1px solid $gray;
        padding: 10px 10px;
      }

      .search:hover {
        background-color: #dad9d9;
      }
    }

    .name {
      margin-bottom: 10px;
    }
  }
}


@media screen and (max-width: 426px) {
  .profile-card > .profile-infos {
    .profile-pic {
      width: 150px;
      height: 150px;
    }

    .buttons {
      margin-block: 30px 20px;
      display: flex;
      gap: 20px;
      align-items: center;
      flex-direction: column;

      button {
        margin: 0;
      }
    }
  }
}